.customOverlay {
  background: rgba(0, 0, 0, 0.8);
}

.customModal {
  width: 1500px;
  height: 1000px;
  padding: 0;
  margin: 0;
}

.customOverlayIn {
  transition-duration: 0ms;
}

.customOverlayOut {
  transition-duration: 0ms;
}

.customModalIn {
  transition-duration: 0ms;
}

.customModalOut {
  transition-duration: 0ms;
}
