@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }
  code {
    @apply bg-dark-900 p-1 rounded-md text-sm text-emerald-400;
  }
}

@layer components {
  .sidebar-icon {
    @apply relative flex items-center justify-center
           h-16 w-16 mt-2 mb-2 mx-auto shadow-lg
           bg-gray-800 text-green-500
           hover:bg-green-600 hover:text-white
           rounded-full;
  }

  .sidebar-tooltip {
    @apply absolute w-auto p-2 m-2 min-w-max left-14
           rounded-md shadow-md
           text-white bg-gray-900
           text-xs font-bold
           transition-all duration-100 scale-0 origin-left;
  }

  .button-primary {
    @apply text-white bg-cyan-700 hover:bg-cyan-600;
  }

  .button-primary-disabled {
    @apply bg-dark-700;
  }

  .button-secondary {
    @apply bg-transparent border border-white/50 hover:bg-dark-700 text-white;
  }

  .button-secondary-disabled {
    @apply bg-transparent border border-line;
  }

  .input {
    @apply text-white placeholder-white placeholder-opacity-25 bg-dark-850
           border border-line rounded-xl py-3 px-4 text-lg outline-none;
  }

  .input-responsive {
    @apply text-white placeholder-white placeholder-opacity-25 bg-dark-850
           border border-line rounded-xl py-2 xs:py-3 px-3 xs:px-4 xs:text-lg
           outline-none;
  }

  .tiptap-editor {
    @apply text-[rgba(256,256,256,0.8)];
  }

  .post-detail {
    @apply text-white/75 [&_hr]:my-4 [&_p]:mb-3 [&_h2]:text-2xl [&_h2]:py-2
        [&_a]:text-blue-400 [&_li]:ml-6 [&_li]:list-disc [&_li]:-mt-3;
  }

  .post-card {
    @apply text-white/75 [&_hr]:my-4 [&_p]:mb-0 break-words
          [&_a]:text-blue-400 [&_h2]:text-xl [&_h2]:py-2;
  }
}

@layer utilities {
  .no-scrollbar {
    scrollbar-width: none;
  }

  .notif-scrollbar {
    scrollbar-width: thin;
    scrollbar-gutter: stable;
    scrollbar-color: #595959 rgba(0, 0, 0, 0);
  }

  .navbar-scrollbar {
    scrollbar-width: thin;
    scrollbar-gutter: stable;
    scrollbar-color: #404040 rgba(0, 0, 0, 0);
  }
}
